## RStudio files
Frailty.Rproj
.Rproj.user

## History
.Rhistory

data
outputs
slides

analysis/*_cache/
analysis/*md
drafts/*_cache/
.Ruserdata

*DS_Store
*err
*out

*html
*png
*pptx
*rds
*RData
*rda

sandbox/